body {
    margin: 0;
    padding: 0;
    background-color: rgb(46,46,46);
    color: rgb(247, 5, 5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#game {
    display: flex;
    background-color:cadetblue;

}

.card {
    width: 160px;
    height: 120px;
    background-color:blue;
    border-left:black;
    border-right:black;
    border-top: black;
    border-bottom: black;
    text-align:center;
    font-size: 100px;
    margin: 5px;
    padding: 10px;
    line-height: 120px;
}