body {
    margin: 0;
    padding: 0;
    background-color: rgb(46,46,46);
    color: rgb(238, 219, 17);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#game {
    display: flex;
    background-color:cadetblue;

}

.card {
    width: 160px;
    height: 150px;
    background-color:blue;
    border-left:black;
    border-right:black;
    border-top: black;
    border-bottom: black;
    text-align:center;
    font-size: 100px;
    margin: 5px;
    padding: 10px;
    line-height: 120px;
}

.card-text {
    font-size: 15px;
    line-height: 30px;
}

.first-button {
    background-color: green;
    display: flex;
}

.second-button {
    background-color: red;
    display: flex;
}

.correct-answer {
    background-color: green;
}

.wrong-answer {
    background-color: red;
}